In [1]:
import pandas as pd
from flask import Flask

In [14]:
data = pd.read_csv('~/Downloads/2022_place_canvas_history-000000000000.csv')
data.head()

,timestamp,user_id,pixel_color,coordinate
0,2022-04-04 00:53:51.577 UTC,ovTZk4GyTS1mDQnTbV+vDOCu1f+u6w+CkIZ6445vD4XN8a...,#00CCC0,"826,1048"
1,2022-04-04 00:53:53.758 UTC,6NSgFa1CvIPly1VniNhlbrmoN3vgDFbMSKqh+c4TTfrr3d...,#94B3FF,"583,1031"
2,2022-04-04 00:53:54.685 UTC,O5Oityp3Z3owzTuwM9XnMggpLcqKEumsOMKGhRiDTTImWb...,#6A5CFF,"1873,558"
3,2022-04-04 00:54:57.541 UTC,tc273UiqS0wKa6VwiOs/iz/t4LyPYrhL2Q347awn11IQQE...,#009EAA,"1627,255"
4,2022-04-04 00:55:16.307 UTC,OOWsU/HLb4UUkQwclDeXFtsJTOXMlAdNHiRpFA1Qk+SxUr...,#94B3FF,"49,1478"

In [16]:
data['x'] = data['coordinate'].str.split(',').str[0]
data['y'] = data['coordinate'].str.split(',').str[1]
data = data.drop('coordinate', axis=1)
data.head()

,timestamp,user_id,pixel_color,x,y
0,2022-04-04 00:53:51.577 UTC,ovTZk4GyTS1mDQnTbV+vDOCu1f+u6w+CkIZ6445vD4XN8a...,#00CCC0,826,1048
1,2022-04-04 00:53:53.758 UTC,6NSgFa1CvIPly1VniNhlbrmoN3vgDFbMSKqh+c4TTfrr3d...,#94B3FF,583,1031
2,2022-04-04 00:53:54.685 UTC,O5Oityp3Z3owzTuwM9XnMggpLcqKEumsOMKGhRiDTTImWb...,#6A5CFF,1873,558
3,2022-04-04 00:54:57.541 UTC,tc273UiqS0wKa6VwiOs/iz/t4LyPYrhL2Q347awn11IQQE...,#009EAA,1627,255
4,2022-04-04 00:55:16.307 UTC,OOWsU/HLb4UUkQwclDeXFtsJTOXMlAdNHiRpFA1Qk+SxUr...,#94B3FF,49,1478

In [ ]:
import pandas as pd
from flask import Flask


app = Flask(__name__)

@app.route('/')
def hello_world():
    return 'Hello World!'


app.run()

In [19]:
# import packages
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

# establish connections
conn_string = 'postgresql+psycopg2://postgres:pass@127.0.0.1/reddit'

db = create_engine(conn_string)
conn = db.connect()
conn1 = conn = psycopg2.connect("dbname=reddit user=postgres password=foo")

conn1.autocommit = True
cursor = conn1.cursor()

data.to_sql('pixel_placement', db, if_exists='append', index=False)

# fetching all rows
# sql1='''select * from pixel_placement;'''
# cursor.execute(sql1)
# for i in cursor.fetchall():
#     print(i)

conn1.commit()
conn1.close()
print('foo')

foo

In [27]:
prefix = 'https://placedata.reddit.com/data/canvas-history/2022_place_canvas_history-0000000000'
extension = '.csv.gzip'
conn1 = conn = psycopg2.connect("dbname=reddit user=postgres password=foo")
conn1.autocommit = True
cursor = conn1.cursor()
# for i in range(0, 79):
for i in range(0, 2):
    url = f'{prefix}{str(i).zfill(2)}{extension}'
    df = pd.read_csv(url, compression='gzip')
    df['x'] = df['coordinate'].str.split(',').str[0]
    df['y'] = df['coordinate'].str.split(',').str[1]
    df = df.drop('coordinate', axis=1)
    df.to_sql('pixel_placement', db, if_exists='append', index=False)
    conn1.commit()

conn1.close()